body {
background-color: #232323;
margin:0px;
font-family: "arial", "Montserrat","Avenir";

}


.square {
	width:13%;
	background: purple;
	padding-bottom: 27%;
	float: right;
	margin: 1%;
	border-radius: 3px;
	transition: background .5s;
	-webkit-transition:background .5s;
	-mpz-transition:background .5s;
	outline: silver;
}

#container{
	max-width:600px;
	margin: 20px auto;

}

h1 {
	color:silver;
	text-align: center;
	background-color: #232323;
	margin: 0px;
	font-weight: 200;
	
	line-height: 1;
	padding: 20px 0;
}

#stripe {
	background: silver;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: silver;
}

#colorDisplay {
	font-size: 120%;
}
button {
	border: none;
	background-color: silver;
	text-transform: 1uppercase;
	height: 100%;
	font-weight: 700px;
	color: #232323;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .5s;
}

button:hover {
	color:silver;
	background-color: #232323;
}

#message {
	display:inline-block;
	width: 20%;
}